<footer>
    <div class="footer-content">
        <p>© <%= new Date().getFullYear() %> Game On Sports Connect</p>
        <div class="footer-links">
            <a href="/">Home</a> |
            <a href="/games">Games</a> |
            <a href="/tournaments">Tournaments</a>
        </div>
        <div class="personal-links">
            <a href="https://github.com/clairecleverlamb" target="_blank">GitHub</a> |
            <a href="https://www.linkedin.com/in/claire-sy-chen/" target="_blank">LinkedIn</a>
        </div>
        <p>Created by Claire Chen</p>
        <p>Contact: <a href="mailto:clairechenszeying@gmail.com">Email</a></p>
    </div>
</footer>
</body>
</html>