<nav>
    <div class="logo">
        <a href="/">Game On Sports Connect</a>
    </div>
    <div class="nav-links">
        <% if (user) { %>
            <a href="/users">Profile</a>
            <a href="/auth/sign-out">Sign Out</a>
            <% } else { %>
                <a href="/auth/sign-up">Sign Up</a>
                <a href="/auth/sign-in">Sign In</a>
                <a href="/">Browse</a>
            <% } %>
    </div>
</nav>
</body>