
<aside>
  <div class="quick-links-box"></div>
    <div class="sidebar-content">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <% if (user) { %>
          <li><a href="/users">My Profile</a></li>
          <li><a href="/users/community">Search Community</a></li>
          <li><a href="/games">Search Games</a></li>
          <li><a href="/tournaments">Search Tournaments</a></li>
        <% } else { %>
          <li><a href="/auth/sign-up">Sign Up</a></li>
          <li><a href="/auth/sign-in">Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</aside>


<script>
  document.addEventListener("scroll", function() {
    let sidebar = document.querySelector(".quick-links-box");
    let scrollPosition = window.scrollY;
    sidebar.style.top = (scrollPosition + 100) + "px"; 
});
</script>