
<div class="tournament-item">
    <h3><a href="/tournaments/<%= tournament._id %>"><%= tournament.name %></a></h3>
    <p>Start Date: <%= tournament.startDate ? new Date(tournament.startDate).toLocaleDateString() : 'TBD' %></p>
    <p>End Date: <%= tournament.endDate ? new Date(tournament.endDate).toLocaleDateString() : 'TBD' %></p>
</div>